<!-- Hamidur Rahman: 20009146 -->
{% extends "index.html" %}

        <!-- header -->
        {% block navbar %}
        <header class = "header" id = "header">
            <div class = "head-top">
                <div class = "site-name">
                    <span>HORIZON HOTELS</span>
                </div>
                <div class = "site-nav">
                    <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
                </div>
            </div>

            <div class = "head-bottom flex">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <h3 style="color: var(--yellow); text-align: center;">{{msg}}</h3>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h2>SPECIAL DISCOUNTS UP TO 20% OFF</h2>
                <p>Book 3 months in advance for 20% off</p>

                {% if logged_in == True %}
                <button type = "button" class = "head-btn" onclick="location.href='/usersettings'">{{fullName}}</button>
                {% else %}
                <button type = "button" class = "head-btn" onclick="location.href='/signin'">SIGN IN</button>
                <button type = "button" class = "head-btn" onclick="location.href='/register'">SIGN UP</button>
                {% endif %}
            </div>
        </header>
        <!-- end of header -->

        <!-- side navbar -->
        <div class = "sidenav" id = "sidenav">
            <span class = "cancel-btn" id = "cancel-btn">
                <i class = "fas fa-times"></i>
            </span>

            <ul class = "navbar">
                <li><a href = "/index/user">home</a></li>
                <li><a href = "#booking">book</a></li>
                <li><a href = "#rooms">rooms</a></li>
                <li><a href = "#about-us">about us</a></li>
            </ul>

            {% if logged_in == True %}
            <button class = "btn sign-up" onclick="location.href='/usersettings'">{{fullName}}</button>
            <button class = "btn sign-up" onclick="location.href='/logout'">Logout</button>
            {% else %}
            <button class = "btn sign-up" onclick="location.href='/register'">sign up</button>
            <button class = "btn log-in" onclick="location.href='/signin'">log in</button>
            {% endif %}
        </div>
        <!-- end of side navbar -->

        <!-- fullscreen modal -->
        <div id = "modal"></div>
        <!-- end of fullscreen modal -->
        {% endblock %}

        {% block footer %}
        <!-- footer -->
        <footer class = "footer" id="about-us">
            <div class = "footer-container">
                <div>
                    <h2>About Us </h2>
                    <p>Horizon Hotel is a successful chain of hotels based in the UK and is popular among tourists</p>
                    <ul class = "social-icons">
                        <li class = "flex">
                            <i class = "fa fa-twitter fa-2x"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-facebook fa-2x"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-instagram fa-2x"></i>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>Useful Links</h2>
                    <a href = "/usersettings">{{fullName}}</a>
                    <a href = "#booking">Book Now</a>
                    <a href = "/logout">Logout</a>
                </div>

                <div>
                    <h2>Privacy</h2>
                    <i class="fa-solid fa-copyright"></i> 2022 - Hamidur Rahman<br>
                    <i class="fa-solid fa-images"></i> Images provided by: <a href = "https://www.pexels.com/">Pexels</a> Can be used freely
                </div>

                </div>
        </footer>
        {% endblock %}
