<!-- Hamidur Rahman: 20009146 -->
{% extends 'userPage.html' %}

{% block content %}

<div class = "bookinfo" id="booking">
    <div class = "bookinfo-list">
        <form action="/confirmbooking" method="post">
            <div class = "info-item">
                <h1>Email: {{lookupdata[6]}}</h1>
                <input type="hidden" name="email" id="email" value="{{lookupdata[6]}}"/> 
            </div>
            <div class = "info-item">
                <h1>City: {{lookupdata[0]}}</h1>
                <input type="hidden" name="hotelCity" id="hotelCity" value="{{lookupdata[0]}}"/> 
            </div>
            <div class = "info-item">
                <h1>Room Type: {{lookupdata[5]}}</h1>
                <input type="hidden" name="roomType" id="roomType" value="{{lookupdata[5]}}"/> 
            </div>
            <div class = "info-item">
                <h1>Number of Rooms Left: {{lookupdata[7]}}</h1>
                <input type="hidden" name="noofRooms" id="noofRooms" value="{{lookupdata[7]}}"/> 
            </div>
            <div class = "info-item">
                <h1>Check In: {{lookupdata[1]}}</h1>
                <input type="hidden" name="checkin" id="checkin" value="{{lookupdata[1]}}"/> 
            </div>
            <div class = "info-item">
                <h1>Check Out: {{lookupdata[2]}}</h1>
                <input type="hidden" name="checkout" id="checkout" value="{{lookupdata[2]}}"/> 
            </div>
            <div class = "info-item">
                <h1>Number of Guests: {{lookupdata[3]}}</h1>
                <input type="hidden" name="noofGuests" id="noofGuests" value="{{lookupdata[3]}}"/> 
            </div>
            <div class = "info-item">
                <h1>Number of Days: {{lookupdata[4]}}</h1>
                <input type="hidden" name="noofDays" id="noofDays" value="{{lookupdata[4]}}"/> 
            </div>
            <div class = "info-item">
                <h1>Total Price: <text style="color: var(--yellow);">£{{lookupdata[8]}}</text></h1>
                <input type="hidden" name="totalPrice" id="totalPrice" value="{{lookupdata[8]}}"/> 
            </div>
            <div class = "form-item">
                <input type="submit" value="Confirm"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}