<!-- Hamidur Rahman: 20009146 -->
{% extends 'userPage.html' %}

{% block extra %}
    <form class="addhotel-form" action="/admin/updatesuccess/{{oldHotelCity}}" method="post">
        <div class = "form-item">
            <h1>Update no. of rooms:</h1>
            <input type="number" placeholder="Update no. of rooms" id="noofRooms" name="noofRooms" value="{{request.form.noofRooms}}" min="10" max="999">
        </div>
        <div class = "form-item">
            <h1>Update peak price (Standard Room):</h1>
            <input type="number" placeholder="Update peak price" id="peakPrice" name="peakPrice" value="{{request.form.peakPrice}}" min="10" max="999">
        </div>
        <div class = "form-item">
            <h1>Update off-peak price (Standard Room):</h1>
            <input type="number" placeholder="Update off-peak price" id="offpeakPrice" name="offpeakPrice" value="{{request.form.offpeakPrice}}" min="10" max="999">
        </div>
        <div class = "submit-form-item">
            <input type="submit" value="Update Hotel">
        </div>
    </form>
{% endblock %}