<!-- Hamidur Rahman: 20009146 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HORIZON HOTEL USER PAGE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/userStyle.css') }}" type="text/css">
        <script src="https://kit.fontawesome.com/746c47e676.js" crossorigin="anonymous"></script>
        <link rel = "icon" href = "images/logo.png" type = "image/png">
    </head>


<body>
        <!-- header -->
        <header class = "header" id = "header">
            <div class = "head-top">
                <div class = "site-name">
                    <span>HORIZON HOTELS</span>
                </div>
                <div class = "site-nav">
                    <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
                </div>
            </div>

            <div class = "sidenav" id = "sidenav">
                <span class = "cancel-btn" id = "cancel-btn">
                    <i class = "fas fa-times"></i>
                </span>
    
                <ul class = "navbar">
                    <li><a href = "/index/user">home</a></li>
                    <li><a href = "/#booking">book</a></li>
                    <li><a href = "/#rooms">rooms</a></li>
                    <li><a href = "/#about-us">about us</a></li>
                </ul>
    
                {% if logged_in == True %}
                <button class = "btn sign-up" onclick="location.href='/usersettings'">{{fullName}}</button>
                <button class = "btn sign-up" onclick="location.href='/logout'">Logout</button>
                {% else %}
                <button class = "btn sign-up" onclick="location.href='/register'">sign up</button>
                <button class = "btn log-in" onclick="location.href='/signin'">log in</button>
                {% endif %}
            </div>
            <!-- end of side navbar -->
    
            <!-- fullscreen modal -->
            <div id = "modal"></div>
            <!-- end of fullscreen modal -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                    <h1 style="color: var(--yellow); text-align: center;">{{msg}}</h1>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        {% block content %}
        <div class = "book" id="booking">
            <div class = "book-form">
                {% if userType == 'admin' %}
                <div class = "form-item">
                    <button type="button" onclick="location.href='/admin/viewbooking'">View all Bookings</button>
                </div>
                <div class = "form-item">
                    <button type="button" onclick="location.href='/changepassword'">Change Password</button>
                </div>
                <div class = "form-item">
                    <button type="button" onclick="location.href='/admin/addhotelinput'">Add Hotel</button>
                </div>
                <div class = "form-item">
                    <button type="button" onclick="location.href='/admin/viewhotel'">View/Delete Hotels</button>
                </div>
                <div class = "form-item">
                    <button type="button" onclick="location.href='/admin/viewupdatehotel'">Update Hotel</button>
                </div>
                <div class = "form-item">
                    <form class="book-form" action="/admin/monthlybooking" method="post">
                    <select name="bookingMonth">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>	     
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <input type="submit" value="Generate Monthly Bookings">
                    </form>
                </div>
                {% endif %}

                {% if userType == 'standard' %}
                <div class = "form-item">
                    <button type="button" onclick="location.href='/viewbooking'">View/Cancel Bookings</button>
                </div>
                <div class = "form-item">
                    <button type="button" onclick="location.href='/changepassword'">Change Password</button>
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock %}

        {% block extra %}
        {% endblock %}
        <script src="../static/js/script.js"></script>
</body>