<!-- Hamidur Rahman: 20009146 -->
{% extends 'userPage.html' %}

{% block extra %}
    <form class="addhotel-form" action="/updatepwdsuccess" method="post">
        <div class = "form-item">
            <h1>Current/old Password:</h1>
            <input type="password" placeholder="Old Password" id="oldpwd" name="oldpwd" value="{{request.form.oldpwd}}" size="64" required>
        </div>
        <div class = "form-item">
            <h1>New Password:</h1>
            <input type="password" placeholder="New Password" id="newpwd" name="newpwd" value="{{request.form.newpwd}}" size="64" required>
        </div>
        <div class = "submit-form-item">
            <input type="submit" value="Change Password">
        </div>
    </form>
{% endblock %}